// Place all the styles related to the Brothers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tree-container {
  border: 1px dotted #ccc;
  max-width: 100%;
  overflow-y: auto;
  padding: 10px;
}

.google-visualization-orgchart-linebottom {
  border-bottom: 1px solid #400080 !important;
}
.google-visualization-orgchart-linetop {
  border-top: 1px solid #400080 !important;
}
.google-visualization-orgchart-lineleft {
  border-left: 1px solid #400080 !important;
}
.google-visualization-orgchart-lineright {
  border-right: 1px solid #400080 !important;
}
.google-visualization-orgchart-node {
  border: 0 !important;
  &.google-visualization-orgchart-node-medium {
    background: rgba(64, 0, 128, 0.8) !important;
    color: white;
  }
}

.status-pill {
  border-radius: 5px;
  color: white;
  font-size: 10px;
  font-weight: 500;
  padding: 3px 10px;
  text-align: center;
  text-transform: uppercase;
  width: 70px;
  display: inline-block;
  &.active {
    background-color: #5cb85c;
  }
  &.alumni {
    background-color: #337ab7;
  }
  &.expelled {
    background-color: #d9534f;
  }
  &.inactive {
    background-color: gray;
  }
  &.resigned {
    background-color: #f0ad4e;
  }
}

input{
  @media (max-width: 767px) {
    &#brother_last_name {
      margin-top: 1em;
    }
  }
}

.admin-buttons {
  a {
    color: #ddd;
  }
  float: right;
}
